<!--
1.Develop Angular JS program that allows user to input their first name and last name and display their full name.
 Note: The default values for first name and last name may be included in the program.
-->

<!DOCTYPE html>
<html>
<title>
          Angular JS Full Name Pgm
</title>

<head>
          <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js">
          </script>
          <script>
                    var app = angular.module("myApp", []); app.controller("myCntrl", function ($scope) {
                              $scope.firstName = "Pratik"
                              $scope.lastName = "Sutar"
                    });
          </script>
</head>

<body ng-app="myApp">
          <h2>Angular JS Application to Display Full Name</h2>
          <div ng-controller="myCntrl">
                    Enter First Name: <input typetext ng-model="firstName"><br />
                    Enter Last Name: <input type="text" ng-model="lastName"><br />
                    Your Full Name: {{firstName +" "+ lastName}}
          </div>
</body>

</html>